# This file is used to ignore files which are generated
# ---------------------------------------------------------------------------
*h5
AutoFetalHeadBiometryEstimation.pyproject.user
AutoFetalHeadBiometryEstimation.pyproject
*TMP
__pycache__/info.cpython-311.pyc
__pycache__/ui_form.cpython-311.pyc
