# This file is used to ignore files which are generated
# ---------------------------------------------------------------------------
*h5
AutoFetalHeadBiometryEstimation.pyproject.user
AutoFetalHeadBiometryEstimation.pyproject
*TMP
*jpeg
*png